
<div th:fragment="objective">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-bicycle"> Objective </i><a class="edit-block" href="/edit/hobby">Edit</a>
        </h3>
    </div>
    <div class="panel-body">
        <h2>Junior java developer position</h2>
        <strong>Summary of Qualifications:</strong>
        <h5>Three Java professional courses with developing and two two web applications: blog and resume (Links to demo are provided)</h5>
    </div>
</div>
</div>
