<div th:fragment="certificates">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-certificate"></i> Certificates <a class="edit-block" href="/edit/hobby">Edit</a>
        </h3>
    </div>
    <div class="panel-body">
        <a data-url="/media/certificates/7e9ac5e8-0375-4dfb-8221-021be7ec845b-sm.jpg" data-title="Jee certificate" href="#" class="thumbnail certificate-link">
            <img alt="Jee certifivate" src="/media/certificates/7e9ac5e8-0375-4dfb-8221-021be7ec845b-sm.jpg" class="img-responsive"> <span>Jee certificate</span>
        </a>
    </div>
</div>
</div>