<div th:fragment="main">
<div class="panel panel-primary">
    <a href="/edit"><img class="img-responsive photo" src="/avatar/35f962fe-59c4-43f3-8789-1c0b37f568b7.jpg" alt="photo"></a>
    <h1 class="text-center">
        <a style="color:black;" href="/edit">${fullName}</a>
    </h1>
    <h6 class="text-center">
        <strong>Odessa, Ukraine</strong>
    </h6>
    <h6 class="text-center">
        <strong>Age:</strong> 27 , <strong>Biethday: </strong> Feb 26, 1989
    </h6>
    <div class="list-group containers">
        <a class="list-group-item" href="tel:+380608031812"><i class="fa fa-phone"></i> +380508031812</a>
        <a class="list-group-item" href="mailto:Babnikgo@gmail.com>"><i class="fa fa-envelope"></i> andriy_hischak</a>
        <a class="list-group-item" href="javascript:void(0);"><i class="fa fa-skype"> andriy-hischak</i></a>
        <a target="_blank" class="list-group-item" href=""><i class="fa fa-vk"> https://vk.com/andriy_hischak</i></a>
        <a target="_blank" class="list-group-item" href=""><i class="fa fa-facebook"> https://facebook/andriy-hischak</i> </a>
        <a target="_blank" class="list-group-item" href=""><i class="fa fa-linkedin"> https://linkedin/andriy-hischak</i></a>
        <a target="_blank" class="list-group-item" href=""><i class="fa fa-github"> https://github/andriy-hischak</i></a>
        <a target="_blank" class="list-group-item" href=""><i class="fa fa-stack-overflow"> https://stack-overflow/andriy-hischak</i></a>
    </div>
</div>
</div>